<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <script type="text/javascript" src="/static/roslibjs/roslib.min.js"></script>
</head>

<body>
  <script type="text/javascript" src="/static/scripts/roscomm.js"></script>
  <script type="text/javascript" src="/static/p5js/p5.js"></script>

  <script src="/static/scripts/gui.js"></script>
  
  <main>
  </main>

  <h1>Kinovagaze temporary GUI</h1>
  <p>Connection status: <span id="status"></span></p>
  <p>Last /txt_msg received: <span id="msg"></span></p>

  <!-- <img src="{{ url_for('video_feed')}}" id="video" alt="Livestream"> -->
</body>



</html>